/* GENERAL MOCKUP STYLING */

@font-face {
  font-family: 'Helvetica Neue LT Std 57 Condensed';
  font-style: normal;
  font-weight: normal;
  src: local('Helvetica Neue LT Std 57 Condensed'), url('../fonts/HelveticaNeueLTStd-LtCn.woff') format('woff');
}

@font-face {
  font-family: 'Helvetica Neue Bold Condensed';
  font-style: normal;
  font-weight: normal;
  src: local('Helvetica Neue Bold Condensed'), url('../fonts/HelveticaLTStd-BoldCond.otf') format('woff');
}

@font-face {
  font-family: 'Roboto Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Roboto Regular'), url('../fonts/Roboto-Regular.ttf') format('woff');
}

:root {
  --primario: #085C95;
  --secundario: #BFE5EF;
  --resaltado: ;
  --navbar-height: 80px;
  /* scroll-behavior: smooth; */
}

body {
  font-family: "Helvetica Neue LT Std 57 Condensed", "Sans Serif";
  font-size: large;
  color: black;
  overflow-x: hidden;
}

section {
  min-height: calc(var(--vh, 1vh) * 100);
  padding: 30px;
  padding-top: calc(var(--navbar-height) * 1.25);
  position: relative;
}

h1 {
  font-family: "Helvetica Neue Bold Condensed", "Sans Serif";
  color: var(--primario);
}

h2 {
  font-family: "Helvetica Neue Bold Condensed", "Sans Serif";
  color: var(--primario);
  text-decoration: underline;
}

.bg-primario {
  background-color: var(--primario);
  color: var(--secundario)
}

.bg-secundario {
  background-color: var(--secundario);
  color: var(--primario)
}

.border-none {
  box-shadow: none;
  border: none;
}


/* ESTILO DE NAV SCROLLED */


/* nav.scrolled {
  background-color: var(--primario) !important;
}

nav.scrolled * {
  color: aliceblue !important;
} */


/* ESTILO DE SECCIONES */

#home {
  background-color: var(--primario);
  background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.37));
  color: aliceblue;
}

#contacto {
  background-color: var(--secundario);
  color: black;
}


/* ESTILOS DE IMAGENES */

#logo {
  margin-top: -1rem;
  max-height: calc(var(--navbar-height) - 32px);
}

#vistas {
  position: relative;
  background-image: radial-gradient(circle, rgb(0, 0, 0) 7%, transparent, transparent);
}

#vistas-img {
  display: inline-block;
  background-image: url("../img/vistas.png");
  height: 70vh;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#logo-img {
  display: inline-block;
  background-image: url("../img/logo_vertical.png");
  height: 70vh;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#caracteristicas-fondo {
  --side: 50vh;
  height: var(--side);
  width: var(--side);
  position: absolute;
  top: calc(50vh + var(--navbar-height));
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -2
}

#caracteristicas-img {
  --height: 75vh;
  height: var(--height);
  width: calc(var(--height) / 2);
  position: absolute;
  top: calc(50vh + var(--navbar-height));
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  background-image: url('../img/registro_paciente.png');
  background-size: cover;
}


/* ESTILO DE CONTENIDO DE SECCIONES */

#home a {
  color: aliceblue;
  text-decoration: none;
}

#hero-title {
  font-size: 1.3rem;
  color: aliceblue;
  text-decoration: none;
}

#caracteristicas-card-group {
  min-height: 80vh;
  font-family: "Roboto Regular", "Sans Serif";
  font-size: medium;
}

#caracteristicas-card-group .card {
  background-color: #ffffffc4;
}

.card-title {
  color: var(--primario);
  text-transform: uppercase;
  font-family: "Helvetica Neue Bold Condensed", "Sans Serif";
}

.card-icon {
  max-width: 18%;
  position: absolute;
  left: 3%;
  top: 5%;
}

.carousel-item {
  height: 77vh;
}

.carousel-item:nth-child(n) {
  background: url("../img/carousel/1.jpg") no-repeat center;
  background-size: cover;
}

.carousel-item:nth-child(2n) {
  background: url("../img/carousel/2.jpg") no-repeat center;
  background-size: cover;
}

.carousel-item:nth-child(3n) {
  background: url("../img/carousel/3.jpg") no-repeat center;
  background-size: cover;
}

.carousel .card {
  background-color: #ffffffea;
}

.carousel-indicators li {
  transition: all 0.6s ease-in-out;
}

.carousel-indicators .active {
  height: 15px;
  background-color: var(--primario);
}

.carousel-item.active,
.carousel-item-prev,
.carousel-item-next {
  display: flex;
}

#idea article {
  position: relative;
  min-height: 60vh;
  font-size: larger;
}

#idea h3 {
  font-size: 1.625rem;
}

#nosotros h3 {
  font-family: "Helvetica Neue Bold Condensed", "Sans Serif";
  color: var(--primario);
  margin: 0;
}

.perfil {
  min-height: 25vw;
  transition: box-shadow .83s ease;
}

.avatar img,
.avatar-mobile img {
  border-radius: 50%;
  transition: transform 1.2s ease;
}

.avatar img {
  width: 15vw;
  height: 15vw;
}

.avatar-mobile img {
  width: 20vw;
  height: 20vw;
}

.avatar {
  width: 15vw;
  height: 15vw;
}

.avatar,
.avatar-mobile {
  border-radius: 15vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border: 4px solid transparent;
  transition: border 1s ease;
}

.perfil:hover .avatar img,
.perfil-mobile:hover .avatar img {
  transform: scale(1.2);
}

.perfil:hover .avatar,
.perfil-mobile:hover .avatar-mobile {
  border: 4px solid var(--primario);
}

.perfil p,
.perfil-mobile p {
  font-style: italic;
}

.perfil,
.perfil-mobile {
  font-family: "Helvetica Neue Bold Condensed", "Sans Serif";
  color: var(--primario);
  margin: 0;
}

.perfil-mobile {
  height: 20vh;
}

.colaborador:hover {
  box-shadow: 0px 0px 20px -5px var(--primario);
}

.linkedin {
  border-radius: 1em;
  width: 10vw;
  height: 10vw;
}

.linkedin2 {
  border-radius: 30em;
  width: 2vw;
  height: 2vw;
}


/* ESTILOS DE MicroNav (TO THE TOP) */

.microNav {
  font-size: 2.5em;
  position: fixed;
  bottom: 15px;
  right: 1vw;
  width: 1em;
  transition: 0.755s all;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* border: 1px solid black; */
}

.microNav * {
  color: rgba(3, 138, 205, 0.603);
  transition: 0.15s all;
  /* border: 1px solid black; */
}

.microNav-hover * {
  font-size: 1.15em;
  color: #0389CD;
}

.hideMicroNav {
  font-size: 2.5em;
  color: rgba(3, 138, 205, 0.603);
  opacity: 0;
  right: -100%;
}

.showMicroNav {
  opacity: 1;
  right: 3vw;
}


/* FORMULARIO */

input,
textarea {
  background-color: #fff !important;
  padding: 16px !important;
  /* border-bottom: 2px solid var(--primario) !important; */
  border-radius: 5px !important;
  caret-color: var(--primario);
}


/* RESPONSIVE */

@media only screen and (max-width: 767px) {
  .nav-link {
    transition: all .3s ease-in-out;
  }
  nav .active {
    background-color: var(--primario);
    color: white !important;
    font-weight: bold;
    padding-left: 10px!important;
  }
}

@media only screen and (min-width:768px) {
  .nav-link {
    border-bottom: 3px solid transparent;
    transition: border-bottom .4s ease-in-out;
  }
  nav .active {
    border-bottom: 3px solid var(--primario);
  }
}

@media only screen and (orientation:portrait) {
  .avatar-mobile img {
    width: 20vw;
    height: 20vw;
  }
}

@media only screen and (orientation:landscape) {
  .perfil-mobile {
    margin: 3vh 0 0 0;
  }
  .avatar-mobile img {
    width: 20vh;
    height: 20vh;
  }
}


/*Create ripple effec*/

.ripple {
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.ripple:after {
  z-index: -10;
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-image: radial-gradient(circle, var(--primario) 20%, transparent 10.01%);
  background-repeat: no-repeat;
  background-position: 50%;
}

.ripple.fade-in:after {
  opacity: 0;
  transform: scale(0, 0);
  transition: transform 2.2s, opacity 3.12s;
}

.ripple.fade-in.appear:after {
  transform: scale(8, 8);
  opacity: .6;
}


/* EFECTOS DE ENTRADA */

.card.fade-in {
  opacity: 0;
  transform: translateY(50%);
  transition: transform 2.2s, opacity 1.12s;
}

.card.fade-in.appear {
  transform: translateY(0);
  opacity: 1;
}

.from-left {
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.from-right {
  -webkit-transform: translateX(50%);
  transform: translateX(50%);
}

.from-left,
.from-right {
  transition: opacity 250ms ease-in, -webkit-transform 400ms ease-in;
  transition: opacity 250ms ease-in, transform 400ms ease-in;
  transition: opacity 350ms ease-in, transform 400ms ease-in, -webkit-transform 400ms ease-in;
  opacity: 0;
}

.from-left.appear,
.from-right.appear {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}

.from-left.appear:nth-child(2n),
.from-right.appear {
  transition-delay: .64s;
  /* transition-timing-function: cubic-bezier(.37, 1.84, .78, 1.02); */
}

.glow {
  -webkit-animation: glow ease-out 1.3s 3 alternate;
  -moz-animation: glow ease-out 1.3s 3 alternate;
  animation: glow ease-out 1.3s 3 alternate;
}

@-webkit-keyframes glow {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px var(--secundario), 0 0 40px var(--secundario), 0 0 50px var(--primario), 0 0 60px var(--primario), 0 0 70px var(--secundario);
  }
  to {
    box-shadow: 0 0 20px #fff, 0 0 30px var(--primario), 0 0 40px var(--primario), 0 0 50px var(--primario), 0 0 60px var(--secundario), 0 0 70px var(--secundario), 0 0 80px var(--primario);
  }
}